<section id="carousel">
  <article class="carousel-content">
    <div id="before">
      <img src="/assets/promo/anterior.png" alt="Welcome to our Web Site!">
    </div>
    <ul>
      <li>
        <div class="image-content">
          <img src="/assets/promo/sales-3067847_1280.png" alt="Welcome to our Web Site!">
        </div>
      </li>
      <li>
        <div class="image-content">
          <img src="/assets/promo/black-friday-1878945_1920.png" alt="Welcome to our Web Site!">
        </div>
      </li>
      <li>
        <div class="image-content">
          <img src="/assets/promo/black-friday-1898114_1280.jpg" alt="Welcome to our Web Site!">
        </div>
      </li>
    </ul>
    <div id="next">
      <img src="/assets/promo/proximo.png" alt="Welcome to our Web Site!">
    </div>
  </article>
</section>