<section id="carousel">
  <article class="carousel-content">
    <div id="before">
      <img src="/assets/promo/anterior.png" alt="">
    </div>
    <ul>
      <li>
        <div class="image-content">
          <img src="/assets/promo/WDETechnologyBanner.png" alt="">
        </div>
      </li>
      <li>
        <div class="image-content">
          <img src="/assets/promo/boldBagSaleBanner.png" alt="">
        </div>
      </li>
      <li>
        <div class="image-content">
          <img src="/assets/promo/campainBlackFridaySaleBanner.png" alt="">
        </div>
      </li>
    </ul>
    <div id="next">
      <img src="/assets/promo/proximo.png" alt="">
    </div>
  </article>
</section>