h1 {
  text-align: center;
  color: #635c56;
}
form {
  max-width: 25rem;
  margin: 2rem auto;
  padding: 1rem;
  background-color: #201d1a;
  border-radius: 6px;
  text-align: center;
}
form a {
  color: #00b2ff;
}
form a:hover,
form a:active {
  color: #0096d8;
}
