* {
  box-sizing: border-box;
}
body {
  background-color: #282c2d;
  color: #cfc9c3;
  margin: 0;
  font-family: "Montserrat", "sans-serif";
}
main {
  width: 90%;
  max-width: 50rem;
  margin: 0 auto;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #0096d8;
}
.btn {
  cursor: pointer;
  font: inherit;
  padding: 0.5rem 1.5rem;
  background-color: #007cb2;
  color: white;
  border: 1px solid #007cb2;
  border-radius: border-radius-small;
}
.btn:hover,
.btn:active {
  background-color: #1f6479;
  border-color: #1f6479;
}
.btn-alt {
  background-color: transparent;
  color: #007cb2;
}
.btn-alt:hover,
.btn-alt:active {
  background-color: #3a3c3f;
}
.alert {
  border-radius: border-radius-small;
  background-color: #ffc0b4;
  color: #c7330f;
  padding: 1rem;
}
.alert h2 {
  font-size: 1rem;
  margin: 0.5rem;
  text-transform: uppercase;
}
.alert p {
  margin: 0.5rem;
}
.badge {
  margin-left: 0.5rem;
  padding: 0.15rem 1rem;
  border-radius: 10rem;
  background-color: #007cb2;
  color: white;
}
