#carousel {
  margin-top: 5rem;
  width: 100%;
}
@media (min-width: 48rem) {
  #carousel {
    margin: 0;
  }
}
.carousel-content {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel-content ul {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  list-style: none;
}
.carousel-content ul::-webkit-scrollbar {
  display: none;
}
.carousel-content ul li {
  width: 100vw;
  height: 100%;
  flex: none;
  scroll-snap-align: start;
  pointer-events: none;
}
.image-content img {
  width: 100%;
  height: 100%;
  max-height: 30rem;
  object-fit: cover;
}
#before,
#next {
  position: absolute;
  top: 45%;
  height: 2rem;
  cursor: pointer;
  z-index: 1;
}
#before img,
#next img {
  height: 100%;
}
#before {
  left: 10%;
}
#before:hover {
  opacity: 0.5;
  transition: 2s;
  background-color: #c6c1b9;
}
#next {
  right: 10%;
}
#next:hover {
  opacity: 0.5;
  transition: 2s;
  background-color: #c6c1b9;
}
