form hr {
  border-color: #00b2ff;
  margin: 1rem;
}
form label {
  color: #c6c1b9;
  display: block;
  margin-bottom: 0.5rem;
}
form input,
form textarea {
  font: inherit;
  padding: 0.5rem;
  border-radius: 4px;
  border: none;
  width: 90%;
}
form #image-upload-control {
  display: flex;
  align-items: center;
}
form #image-upload-control input {
  max-width: 15rem;
}
form #image-upload-control img {
  display: none;
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  border-radius: 4px;
}
