#products-grid {
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 1rem;
}
.product-item {
  border-radius: 6px;
  text-align: center;
  background-color: #201d1a;
  overflow: hidden;
}
.product-item img {
  width: 100%;
  height: 10rem;
  object-fit: cover;
}
.product-item .product-item-content {
  padding: 1rem;
}
.product-item .product-item-content h2 {
  font-size: 1.15rem;
  margin: 0.5rem 0;
}
.product-item .product-item-actions {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
  justify-content: center;
}
#product-details header {
  margin-top: 2rem;
  padding: 2rem;
  background-color: #201d1a;
  gap: 2rem;
}
@media (min-width: 48rem) {
  #product-details header {
    display: flex;
  }
}
#product-details img {
  width: 100%;
  height: 6rem;
  object-fit: cover;
  border-radius: 6px;
  border: 1px solid #cfc9c3;
}
@media (min-width: 48rem) {
  #product-details img {
    width: 20rem;
    height: 15rem;
    transform: rotateZ(-10deg);
    margin: 2rem;
  }
}
#product-info {
  text-align: center;
}
@media (min-width: 48rem) {
  #product-info {
    text-align: left;
  }
}
#product-description {
  background-color: #3a3c3f;
  padding: 2rem;
  white-space: pre-wrap;
}
